.booking-container {
    display:flex;
    justify-content: center;
}
  
.booking-form {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    gap:1.8em;
    padding: 3.2em 3em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1.5em;
    border-radius: 20px;
    background: 
    linear-gradient(to right,
    var(--color-bg-dark),
    var(--color-bg-dark-subtle),
    var(--color-bg-dark),
    var(--color-bg-dark-subtle)) padding-box,
    linear-gradient(
      0deg,
      black,
      var(--color-border)) border-box;
    background-clip: padding-box, border-box;
    border: 2px transparent solid;
}
  
  
.form-group {
    display:flex;
    flex-direction: column;
    gap: 0.4em;
}
  
  
.form-group label {
    font-family: 'Inter Medium', sans-serif;
    font-size:0.7em;
    letter-spacing: 3px;
}
  
.form-group input {
    width:100%;
    text-overflow: ellipsis;
    font-family: inherit;
    font-size:0.9em;
    letter-spacing: -0.5px;
    color: var(--color-text);
    background-color: var(--color-bg-darkest);
    padding:0.9em;
    padding-left:2.5em;
    border:none;
    border-radius: 7px;
    border-bottom: 1.5px solid var(--color-border);
}
  
.form-group input:focus {
    outline:none;
}
  
.form-group input::placeholder {
    color: #454545;
}

.input-container {
    width:100%;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

.input-container svg{
    position:absolute;
    height:40%;
    aspect-ratio: 1;
    left:10px;
    pointer-events: none;
    color:currentColor;
}
  
  
.origin-destination-container {
    display:flex;
    align-items: flex-end;
}

.route-icon{
    width:1.2em;
    height:1.2em;
    margin-bottom: 0.8em;
}
  
.input-autocomplete-container {
    position: relative;
    display:flex;
    justify-content: center;
}
  
.date-container {
    display:flex;
    gap:1em;
}
  
.date-container input {
    background-color: var(--color-bg-darkest);
    text-align: left;
    max-width: 200px;
    min-width: 80px;
    padding-left:0.9em;
}
  
.date-group {
    display:flex;
    gap:0.2em;
}

.date-button-container{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
  }  

.date-button-container svg {
    position: absolute;
    height:40%;
    aspect-ratio: 1;
    pointer-events: none;
}
  
.date-button {
    font-family:inherit;
    font-size: 0.9em;
    border-radius: 50%;
    height:100%;
    width:45px;
    background-color: var(--color-bg-darkest);
    border:none;
    border-top: 1.5px solid var(--color-border);
    cursor: pointer;
}
  
.button-container button {
    font-family: 'Inter Medium', sans-serif;
    font-size: 1.3em;
    color: var(--color-brand-primary);
    padding:0.7em 1.5em;
    border-radius:100px;
    border:2px transparent solid;
    background: linear-gradient(#3F2216, #3F2216) padding-box transparent;
    cursor: pointer;
}
  
  
.button-container {
    position:relative;
    overflow:visible;
    z-index: 0;
    border-radius:100px;
    box-shadow: 0px 8px 5px 0px #00000050, 0px 4px 50px 1px rgba(255,77,0,0.20);
}
  
.button-bg {
    position:absolute;
    overflow: hidden;
    background: linear-gradient(150deg, #ff4d00,#682C12);
    z-index: -1;
    inset:0;
    border-radius: 100px;
}
  
.button-trail {
    width: 200px;
    aspect-ratio: 2 / 1;
    position: absolute;
    background: radial-gradient(
      100% 100% at right,
      #ff682c,
      #FF4D00,
      transparent 50%
    );
    offset-path: border-box;
    offset-anchor: 100% 50%;
    animation: trail-anim var(--speed, 3s) infinite linear;
}
  
  
@keyframes trail-anim {
    to {
      offset-distance: 100%;
    }
}
  

@media (width < 1024px) {
    .booking-form {
      align-items: center;
      flex-direction: column;
      padding: 3em 2em;
    }
  
    .origin-destination-container {
      flex-direction: column;
      gap:1.8em;
      width:100%;
    }
  
    .route-icon {
      display:none;
    }
  
    .form-group {
      width:100%;
    }
  
    .date-container input {
      min-width:50px;
      max-width:100%;
    }
}